*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color: blue; */
    background: linear-gradient(to bottom left, #4A90E2 ,#2148C0, #103193);
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    /* max-width: 1200px; */
}
.logoContainer{
    /* width: 100%; */
    display: flex;
    justify-content:center;
    flex-direction: row;
}
.logo{
    flex:3;
    margin: 2rem 0 0 5rem;
    display: flex;
    justify-content:flex-start;
    /* flex-direction: column; */
    color:white;
}
.logo i, .logo h2{
    font-size: 1.5rem;
    margin: 5px;
}

.searchbar{
    width: 60%;
    margin-top: 2.7rem;
    margin-right: 5rem;
    display: flex;
    justify-self: start;
    border: 1px solid black;
    flex:7;
}
#search{
    width: 100%;
    background: transparent;
    border: none;
}
.searchbar i{
    font-size:20px;
    margin:5px 2px 5px 5px;
}
.mainContainer{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    /* border: 1px solid red; */
    /* flex:1; */
    margin:2% 5%;
}
.sidebar{
    border-right:1px solid black;
    margin: 5px;
    flex:3;
}
.catagory{
    margin:4px 0 10% 5px;
}
.catagory button{
    border: none;
    background: transparent;
    color:white;
    font-size: large;
    text-transform: uppercase;
    cursor: pointer;
}
.catagory button:active{
    text-decoration: underline;
}
.taskContainer{
    /* border:1px solid green; */
    flex:7;
}
.titlebar{
    width: 98%;
    /* border: 1px solid red; */
    margin: 9.3px;
    display: flex;
    justify-content: end;
}
.dataContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.todo,.inProgress,.done{
    flex:1;
    /* border: 1px solid black; */
    box-shadow: 2px 4px 8px rgba(0,0,0,0.4);
    background-color: aliceblue;
    font-weight: bold;
    height: 70vh;
    font-size: large;
    text-transform: capitalize;
    margin-right:0.7rem;
    display: block;
    /* margin: 0 auto; */
    /* text-align: center; */
}
.createTask{
    padding: 12px 30px;
    letter-spacing:0.3rem;
    background-color: crimson;
    color:white;
    border: none;
    /* float: right; */
    cursor: pointer;
}
#logout{
    padding: 12px 30px;
    /* letter-spacing:0.3rem; */
    background-color: crimson;
    color:white;
    border: none;
    /* float: right; */
    cursor: pointer;
    font-weight: bold;
    margin-top: 80%;
}

.formContainer{
    display: none;
    position: fixed;
    width:100%;
    max-width: 400px;
    height: 300px;
    background-color: aliceblue;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translate(160%,50%);
    background: rgba(47, 46, 46, 0.6);
}
.formFields{
    display: flex;
    justify-content: space-evenly;
    margin: 10%;
    color:white;
    font-weight: bold;
    /* border: 1px solid red; */
}
.formFields label{
    flex:3;
    margin: 5%;
}
.formFields #formTask{
    flex:7;
    padding: 12px 45px;
}
#formSubmit{
    /* width: 100px; */
    display: block;
    margin: 0 auto;
    padding: 12px 30px;
    background-color: crimson;
    color:white;
    outline: none;
    cursor: pointer;
}

#close-btn{
    /* display: block; */
    /* margin: 0 auto; */
    float: right;
    margin: 2% 5% 2% 0;
    color: white;
    /* background-color: crimson; */
    cursor: pointer;
}

.formContainer.showForm{
    display: block;
}
.todo p{
    background-color: #d1d1d7;
    box-shadow: 4px 2px rgba(0,0,0,0.4);
    margin-top: 5px;
    padding: 10px;
    letter-spacing: 0.2rem;
    cursor: pointer;
}